__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
venv*/
.env
.venv
logs/
.git
.gitignore
.dockerignore
Dockerfile
docker-compose.yml
README.md
# Ignoramos o banco local para evitar conflitos de plataforma (Windows vs Linux)
# O ideal é reconstruir ou montar via volume.
chroma_db/
